.password-container{

    position:relative;

}

.password-container input{

    margin-bottom:18px;

}

.toggle-password{

    position:absolute;

    right:10px;

    top:50%;

    transform:translateY(-60%);

    border:none;

    background:none;

    color:#2563eb;

    cursor:pointer;

    font-size:14px;

    font-weight:600;

}

.login-btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.login-btn:hover{

    background:#1d4ed8;

}

.login-btn:disabled{

    opacity:.6;

    cursor:not-allowed;

}

.register-link{

    margin-top:20px;

    text-align:center;

    color:#555;

}

.register-link a{

    margin-left:6px;

    text-decoration:none;

    font-weight:bold;

    color:#2563eb;

}

.register-link a:hover{

    text-decoration:underline;

}